PrincyRobot/config.py
PrincyRobot/*.session
PrincyRobot/*.session-journal
PrincyRobot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
PrincyRobot/modules/helper_funcs/temp.txt
PrincyRobot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
Princy.session-journal
updates.txt
*.exe